[submodule "docs"]
	path = docs
	url = https://github.com/HXChainProject/hxchain-core.wiki.git
    ignore = dirty
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/HXChainProject/fc.git
    ignore = dirty
